**Amazon Fine Food Reviews by applying Natural Language Processing**

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sklearn
import warnings; warnings.simplefilter('ignore')

In [7]:
df = pd.read_csv('Reviews.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568438 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [5]:
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [8]:
df.shape

(568454, 10)

In [9]:
def partition(x):
    if x < 3 :
        return 0
    return 1



df['Sentiment'] = df['Score'].apply(partition)
print(df['Sentiment'].shape) 
print(df.head(3))

(568454,)
   Id   ProductId          UserId                      ProfileName  \
0   1  B001E4KFG0  A3SGXH7AUHU8GW                       delmartian
1   2  B00813GRG4  A1D87F6ZCVE5NK                           dll pa
2   3  B000LQOCH0   ABXLMWJIXXAIN  Natalia Corres "Natalia Corres"

   HelpfulnessNumerator  HelpfulnessDenominator  Score        Time  \
0                     1                       1      5  1303862400
1                     0                       0      1  1346976000
2                     1                       1      4  1219017600

                 Summary                                               Text  \
0  Good Quality Dog Food  I have bought several of the Vitality canned d...
1      Not as Advertised  Product arrived labeled as Jumbo Salted Peanut...
2  "Delight" says it all  This is a confection that has been around a fe...

   Sentiment
0          1
1          0
2          1

In [10]:
duplicate_df= df[df.duplicated(subset = ['ProductId', 'ProfileName', 'Score', 'Time','Summary'], keep =  False)]

In [11]:
duplicate_df

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Sentiment
466,467,B000G6RYNE,A3PJZ8TU8FDQ1K,Jared Castle,0,0,5,1231718400,"One bite and you'll become a ""chippoisseur""","I'm addicted to salty and tangy flavors, so wh...",1
574,575,B000G6RYNE,A3PJZ8TU8FDQ1K,Jared Castle,2,2,5,1231718400,"One bite and you'll become a ""chippoisseur""","I'm addicted to salty and tangy flavors, so wh...",1
1084,1085,B0030N5K1I,A19U4T4I7UZGNM,3 dogs,3,3,1,1330992000,awful,"This is not jerky, this is processed, hard lik...",0
1087,1088,B0030N5K1I,A19U4T4I7UZGNM,3 dogs,1,1,1,1330992000,awful,"This is not jerky, this is processed, hard lik...",0
2630,2631,B0016FY6H6,A2NLZ3M0OJV9NX,Mark Bodzin,1,1,2,1313107200,Way too weak for my tastes,"What can i say, I love iced tea. I drink a lot...",0
...,...,...,...,...,...,...,...,...,...,...,...
568007,568008,B0030VJ8YU,A20P8VC55KPPCT,FL Mom,3,3,5,1274486400,These pouches are great!,These pouches are so easy and convenient. They...,1
568008,568009,B0030VJ8YU,ATIHDHZYNQ0EI,"Kristen O'donnell ""twinsmom""",3,3,5,1270425600,Organic and Tasty!,I have 12 month olds and no time to write a gr...,1
568017,568018,B0030VJ8YU,A20P8VC55KPPCT,FL Mom,2,2,5,1274486400,These pouches are great!,These pouches are so easy and convenient. They...,1
568034,568035,B0030VJ8YU,A1S6HK2R1KUC5E,data1701,1,1,5,1318291200,Triplets love this!,This is very smooth and easy to feed to my tri...,1
568053,568054,B0030VJ8YU,A20P8VC55KPPCT,FL Mom,1,1,5,1274486400,These pouches are great!,These pouches are so easy and convenient. The...,1

In [12]:
duplicate_df.loc[df.ProductId== 'B005K4Q1VI', :]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Sentiment
3306,3307,B005K4Q1VI,A3OXHLG6DIBRW8,"C. F. Hill ""CFH""",24,25,5,1321401600,Really Good Hot Cocoa - Highly Recommended,These Grove Square Hot Cocoa flavors are by fa...,1
3416,3417,B005K4Q1VI,A3OXHLG6DIBRW8,"C. F. Hill ""CFH""",5,5,5,1321401600,Really Good Hot Cocoa - Highly Recommended,These Grove Square Hot Cocoa flavors are by fa...,1

 **Data Cleaning**

In [13]:
sorted_df=df.sort_values('ProductId', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

In [14]:
final=sorted_df.drop_duplicates(subset={"UserId","ProfileName","Time","Text"}, keep='first', inplace=False)
final.shape

(393933, 11)

In [15]:
(final['Id'].size*1.0)/(df['Id'].size*1.0)*100

69.29901100176971

In [16]:
final[final['HelpfulnessNumerator'] > final['HelpfulnessDenominator']]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Sentiment
64421,64422,B000MIDROQ,A161DK06JJMCYF,"J. E. Stephens ""Jeanne""",3,1,5,1224892800,Bought This for My Son at College,My son loves spaghetti so I didn't hesitate or...,1
44736,44737,B001EQ55RW,A2V0I904FH7ABY,Ram,3,2,4,1212883200,Pure cocoa taste with crunchy almonds inside,It was almost a 'love at first bite' - the per...,1

In [17]:
final = final[final['HelpfulnessNumerator'] <= final['HelpfulnessDenominator']]
final.reset_index(inplace=True)
final.shape

(393931, 12)

**Preprocessing**

In [18]:
import re

import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

from gensim.models import Word2Vec
from gensim.models import KeyedVectors
import pickle

from tqdm import tqdm
import os

from bs4 import BeautifulSoup

In [19]:

import re

def decontracted(phrase):
    
    
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

   
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [20]:
stopwords= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])

In [52]:

from tqdm import tqdm
preprocessed_reviews = []

for sentance in tqdm(final['Text'].values):
    sentance = re.sub(r"http\S+", "", sentance)
    sentance = BeautifulSoup(sentance, 'lxml').get_text()
    sentance = decontracted(sentance)
    sentance = re.sub("\S*\d\S*", "", sentance).strip()
    sentance = re.sub('[^A-Za-z]+', ' ', sentance)
    
    sentance = ' '.join(e.lower() for e in sentance.split() if e.lower() not in stopwords)
    preprocessed_reviews.append(sentance.strip())

100%|████████████████████████████████████████████████████████████████████████| 393931/393931 [03:09<00:00, 2084.08it/s]

In [23]:
preprocessed_reviews[2]

'grew reading sendak books watching really rosie movie incorporates love son loves however miss hard cover version paperbacks seem kind flimsy takes two hands keep pages open'

In [24]:
preprocessed_reviews[15000]

'catnip cute usable size larger expected catnip came clear plastic bag tied opening inside good amount cats went crazy'

In [25]:
len(preprocessed_reviews)

393931

**Featurization**

In [26]:
sample_df = final.sample(n = 5000)
sample_df.head()

,index,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Sentiment
71077,436402,436403,B000FFLTDM,A3MOFX0JORSBIS,Elaine C. Sharpe,0,0,5,1267920000,Love it!,McDougall's soups rock! The Miso Ramen is my f...,1
119839,127072,127073,B000P6MSOU,A2XOLHKX8FTFYL,Elliott C. Musial,8,12,4,1251158400,Product variety and allocation,These 45 count packages are inefficient in tha...,1
237086,361721,361722,B001X94YNG,A3RBRTD5LFXW5G,CookingGal,0,0,1,1292976000,bitter taste,"I am not Chinese, but have eaten my share of C...",0
317746,159276,159277,B00437I4VI,A3M67ULEJD8VDR,Momto5,3,3,5,1342137600,Shhhh....don't tell the kids I sneak their fru...,We love these! So much so we are on our 3rd or...,1
177292,124589,124590,B001E55XOI,AUFME5EY4OBRB,Patricia M. Kolski,1,1,5,1265068800,what do you mean?,Could not find the Crystal Lite decaf iced tea...,1

In [27]:
sample_df.drop(columns = ['Id', 'ProductId', 'UserId','ProfileName', 'Time', 'Summary', 'Score'], inplace=True)

In [28]:
sample_df.head(2)

,index,HelpfulnessNumerator,HelpfulnessDenominator,Text,Sentiment
71077,436402,0,0,McDougall's soups rock! The Miso Ramen is my f...,1
119839,127072,8,12,These 45 count packages are inefficient in tha...,1

In [29]:
sample_df.index.values

array([ 71077, 119839, 237086, ...,  69031, 207527, 121503], dtype=int64)

In [31]:
sample_reviews = [ preprocessed_reviews[i] for i in sample_df.index.values]
sample_reviews[0]

'mcdougall soups rock miso ramen favorite every flavor tried really good close second black bean lime soups not replace homemade course office road snack really hit spot'

In [32]:
sample_df['preprocessed'] = sample_reviews
sample_df.head()

,index,HelpfulnessNumerator,HelpfulnessDenominator,Text,Sentiment,preprocessed
71077,436402,0,0,McDougall's soups rock! The Miso Ramen is my f...,1,mcdougall soups rock miso ramen favorite every...
119839,127072,8,12,These 45 count packages are inefficient in tha...,1,count packages inefficient far many crackers c...
237086,361721,0,0,"I am not Chinese, but have eaten my share of C...",0,not chinese eaten share chinese authentic szec...
317746,159276,3,3,We love these! So much so we are on our 3rd or...,1,love much order months kids neighborhood hot s...
177292,124589,1,1,Could not find the Crystal Lite decaf iced tea...,1,could not find crystal lite decaf iced tea gro...

In [33]:
sample_df.drop(columns = ['Text', 'index'], inplace=True)

In [34]:
sample_df.head(3)

,HelpfulnessNumerator,HelpfulnessDenominator,Sentiment,preprocessed
71077,0,0,1,mcdougall soups rock miso ramen favorite every...
119839,8,12,1,count packages inefficient far many crackers c...
237086,0,0,0,not chinese eaten share chinese authentic szec...

In [35]:
from sklearn.model_selection import train_test_split

In [37]:
y = sample_df['Sentiment'].values 
X = sample_df.drop(columns =['Sentiment'])

print(X.shape)
print(y.shape)

(5000, 3)
(5000,)

In [38]:
sample_df['Sentiment'].value_counts()

1    4259
0     741
Name: Sentiment, dtype: int64

In [39]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.2, random_state = 24)

print(train_X.shape)
print(train_y.shape)
print(test_X.shape)
print(test_y.shape)

(4000, 3)
(4000,)
(1000, 3)
(1000,)

**BOW**

In [54]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()
count_vect.fit(train_X['preprocessed'])

print("some feature names ", count_vect.get_feature_names()[:10])
print('='*50)

some feature names  ['aaaaa', 'aaaaallll', 'aaah', 'aargh', 'ab', 'abandoned', 'abba', 'abby', 'abid', 'abilities']
==================================================

In [41]:
final_vectors = count_vect.transform(train_X['preprocessed'])

In [42]:
final_vectors.shape

(4000, 13490)

In [43]:
num_feats = train_X[['HelpfulnessNumerator' ,	'HelpfulnessDenominator']].values

from scipy import sparse

training_df = sparse.hstack(( num_feats, final_vectors))

training_df.shape

(4000, 13492)

In [44]:
from sklearn.linear_model import LogisticRegression

In [45]:
model = LogisticRegression(max_iter = 15000)

model.fit(training_df, train_y)

LogisticRegression(max_iter=15000)

In [46]:

final_test_vectors = count_vect.transform(test_X['preprocessed'].values)
final_test_vectors.shape

(1000, 13490)

In [47]:
test_feats = test_X[['HelpfulnessNumerator' ,	'HelpfulnessDenominator']].values

test_df = sparse.hstack(( test_feats, final_test_vectors))

test_df.shape

(1000, 13492)

In [49]:
from sklearn.metrics import accuracy_score

preds = model.predict(test_df)


y_true = test_y

accuracy_score(y_true, preds)

0.891